<form>

    <nav class="sheet-tabs tabs" data-group="main" aria-role="Form Tab Navigation">
        <a class="item active" data-tab="enable"><i class="fas fa-wrench"></i> Enable Grid</a>
        <a class="item" data-tab="grid"><i class="fas fa-expand"></i> Grid</a>
        <a class="item" data-tab="ruler"><i class="fas fa-ruler"></i> Ruler</a>
        <a class="item" data-tab="measurement"><i class="fas fa-calculator"></i> Measurement</a>
        <a class="item" data-tab="cover"><i class="fas fa-shield-alt"></i> Cover</a>
    </nav>

    <section class = "content">

        <div class="tab" data-group="main" data-tab="cover">

            <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.settings.cover.name"}}</label>
                <div class="form-fields">
                  <select name="cover.calculator">
                    {{#each calculators as |calculator|}}
                    <option value="{{calculator.value}}" {{#if (eq ../cover.calculator calculator.value)}}selected="selected"{{/if}} {{#if calculator.disabled}}disabled{{/if}}>{{calculator.name}}</option>
                    {{/each}}
                  </select>
                </div>
                <p class="notes">{{localize "aedifs-tactical-grid.settings.cover.hint"}}</p>
            </div>

            <fieldset>
                <legend>{{localize "aedifs-tactical-grid.common.labels"}}</legend>
                <div class="form-group">
                    <label>{{localize "aedifs-tactical-grid.settings.cover.none"}}</label>
                    <div class="form-fields">
                      <input class="atg-fa" type="text" value="{{cover.noCover}}" name="cover.noCover">
                    </div>
                </div>
    
                <div class="form-group">
                    <label>{{localize "aedifs-tactical-grid.settings.cover.half"}}</label>
                    <div class="form-fields">
                      <input class="atg-fa" type="text" value="{{cover.halfCover}}" name="cover.halfCover">
                    </div>
                </div>
    
                <div class="form-group">
                    <label>{{localize "aedifs-tactical-grid.settings.cover.threeQuarters"}}</label>
                    <div class="form-fields">
                      <input class="atg-fa" type="text" value="{{cover.threeQuartersCover}}" name="cover.threeQuartersCover">
                    </div>
                </div>
    
                <div class="form-group">
                    <label>{{localize "aedifs-tactical-grid.settings.cover.total"}}</label>
                    <div class="form-fields">
                      <input class="atg-fa" type="text" value="{{cover.totalCover}}" name="cover.totalCover">
                    </div>
                </div>
            </fieldset>

        </div>

        <div class="tab active" data-group="main" data-tab="enable">

            <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.settings.enableOnControl.name"}}</label>
                <div class="form-fields">
                    <input type="checkbox" name="enableOnControl" data-dtype="Boolean" value="{{enableOnControl}}" {{#if enableOnControl}}checked{{/if}}>
                </div>
                <p class="notes">{{localize "aedifs-tactical-grid.settings.enableOnControl.hint"}}</p>
            </div>

            <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.settings.enableOnHover.name"}}</label>
                <div class="form-fields">
                    <input type="checkbox" name="enableOnHover" data-dtype="Boolean" value="{{enableOnHover}}" {{#if enableOnHover}}checked{{/if}}>
                </div>
                <p class="notes">{{localize "aedifs-tactical-grid.settings.enableOnHover.hint"}}</p>
            </div>

            <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.settings.enableOnCombatOnly.name"}}</label>
                <div class="form-fields">
                    <input type="checkbox" name="enableOnCombatOnly" data-dtype="Boolean" value="{{enableOnCombatOnly}}" {{#if enableOnCombatOnly}}checked{{/if}}>
                </div>
                <p class="notes">{{localize "aedifs-tactical-grid.settings.enableOnCombatOnly.hint"}}</p>
            </div>

            <fieldset>
                <legend>{{localize "aedifs-tactical-grid.common.layers"}}</legend>
                {{#each layerEnabled}}
                <div class="form-group">
                    <label>{{@key}}</label>
                    <div class="form-fields">
                        <input type="checkbox" name="layerEnabled.{{@key}}" data-dtype="Boolean" value="{{this}}" {{#if this}}checked{{/if}}>
                    </div>
                </div>
                {{/each}}
            </fieldset>
        </div>

        <div class="tab" data-group="main" data-tab="grid">
              <div class="form-group slim">
                <label>{{localize "aedifs-tactical-grid.settings.defaultViewDistance.name"}} <span class="units">({{localize "aedifs-tactical-grid.common.gridSpaces"}})</span></label>
                <div class="form-fields">
                  <input type="number" value="{{defaultViewDistance}}" step="any" name="defaultViewDistance">
                </div>
                <p class="notes">{{localize "aedifs-tactical-grid.settings.defaultViewDistance.hint"}}</p>
              </div>

              <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.settings.usePropertyBasedDistance.name"}}</label>
                <div class="form-fields">
                    <input type="checkbox" name="usePropertyBasedDistance" data-dtype="Boolean" value="{{usePropertyBasedDistance}}" {{#if usePropertyBasedDistance}}checked{{/if}}>
                </div>
                <p class="notes">{{localize "aedifs-tactical-grid.settings.usePropertyBasedDistance.hint"}}</p>
              </div>

              <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.settings.propertyDistance.name"}} <span class="units">({{units}})</span></label>
                <div class="form-fields">
                  <input type="text" value="{{propertyDistance}}" name="propertyDistance">
                </div>
                <p class="notes">{{localize "aedifs-tactical-grid.settings.propertyDistance.hint"}}</p>
              </div>

              <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.settings.defaultViewShape.name"}}</label>
                <div class="form-fields">
                  <select name="defaultViewShape">
                    {{#each viewShapes as |shape|}}
                    <option value="{{shape.value}}" {{#if (eq ../defaultViewShape shape.value)}}selected="selected"{{/if}}>{{shape.label}}</option>
                    {{/each}}
                  </select>
                </div>
                <p class="notes">{{localize "aedifs-tactical-grid.settings.defaultViewShape.hint"}}</p>
              </div>

              <hr>

              <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.settings.assignDispositionBasedColor.name"}}</label>
                <div class="form-fields">
                    <input type="checkbox" name="assignDispositionBasedColor" data-dtype="Boolean" value="{{assignDispositionBasedColor}}" {{#if assignDispositionBasedColor}}checked{{/if}}>
                </div>
                <p class="notes">{{localize "aedifs-tactical-grid.settings.assignDispositionBasedColor.hint"}}</p>
              </div>

              <fieldset>
                <div class="form-group">
                    <label>{{localize "ACTOR.TypeCharacter"}}</label>
                    <div class="form-fields">
                        <input class="color" type="text" name="dispositionColors.playerOwner" value="{{dispositionColors.playerOwner}}">
                        <input type="color" value="{{dispositionColors.playerOwner}}" data-edit="dispositionColors.playerOwner">
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "TOKEN.FRIENDLY"}}</label>
                    <div class="form-fields">
                        <input class="color" type="text" name="dispositionColors.friendly" value="{{dispositionColors.friendly}}">
                        <input type="color" value="{{dispositionColors.friendly}}" data-edit="dispositionColors.friendly">
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "TOKEN.NEUTRAL"}}</label>
                    <div class="form-fields">
                        <input class="color" type="text" name="dispositionColors.neutral" value="{{dispositionColors.neutral}}">
                        <input type="color" value="{{dispositionColors.neutral}}" data-edit="dispositionColors.neutral">
                    </div>
                </div>

                <div class="form-group">
                    <label>{{localize "TOKEN.HOSTILE"}}</label>
                    <div class="form-fields">
                        <input class="color" type="text" name="dispositionColors.hostile" value="{{dispositionColors.hostile}}">
                        <input type="color" value="{{dispositionColors.hostile}}" data-edit="dispositionColors.hostile">
                    </div>
                </div>
            </fieldset>

            <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.settings.mixColors.name"}}</label>
                <div class="form-fields">
                    <input type="checkbox" name="mixColors" data-dtype="Boolean" value="{{mixColors}}" {{#if mixColors}}checked{{/if}}>
                </div>
                <p class="notes">{{localize "aedifs-tactical-grid.settings.mixColors.hint"}}</p>
            </div>
        </div>

        <div class="tab" data-group="main" data-tab="ruler">
            <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.settings.enableOnRuler.name"}}</label>
                <div class="form-fields">
                    <input type="checkbox" name="enableOnRuler" data-dtype="Boolean" value="{{enableOnRuler}}" {{#if enableOnRuler}}checked{{/if}}>
                </div>
                <p class="notes">{{localize "aedifs-tactical-grid.settings.enableOnRuler.hint"}}</p>
            </div>
            <div class="form-group slim">
                <label>View Distance <span class="units">({{localize "aedifs-tactical-grid.common.gridSpaces"}})</span></label>
                <div class="form-fields">
                <input type="number" value="{{rulerViewDistance}}" step="any" name="rulerViewDistance">
                </div>
                <p class="notes">{{localize "aedifs-tactical-grid.settings.defaultViewDistance.hint"}}</p>
            </div>
            <div class="form-group">
                <label>View Shape</label>
                <div class="form-fields">
                    <select name="rulerViewShape">
                    {{#each viewShapes as |shape|}}
                    <option value="{{shape.value}}" {{#if (eq ../rulerViewShape shape.value)}}selected="selected"{{/if}}>{{shape.label}}</option>
                    {{/each}}
                    </select>
                </div>
                <p class="notes">{{localize "aedifs-tactical-grid.settings.defaultViewShape.hint"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.common.color"}}</label>
                <div class="form-fields">
                    {{ colorPicker name="rulerColor" value=rulerColor }}
                </div>
                <p class="notes">{{localize "aedifs-tactical-grid.settings.rulerColor.hint"}}</p>
            </div>
        </div>

        <div class="tab" data-group="main" data-tab="measurement">
            <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.settings.includeElevation.name"}}</label>
                <div class="form-fields">
                    <input type="checkbox" name="measurement.includeElevation" data-dtype="Boolean" value="{{measurement.includeElevation}}" {{#if measurement.includeElevation}}checked{{/if}}>
                </div>
                <p class="notes">{{localize "aedifs-tactical-grid.settings.includeElevation.hint"}}</p>
            </div>
            <hr>
            <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.settings.shortestDistance.name"}}</label>
                <div class="form-fields">
                    <input type="checkbox" name="measurement.shortestDistance" data-dtype="Boolean" value="{{measurement.shortestDistance}}" {{#if measurement.shortestDistance}}checked{{/if}}>
                </div>
                <p class="notes">{{localize "aedifs-tactical-grid.settings.shortestDistance.hint"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.settings.gridlessCircle.name"}}</label>
                <div class="form-fields">
                    <input type="checkbox" name="measurement.gridlessCircle" data-dtype="Boolean" value="{{measurement.gridlessCircle}}" {{#if measurement.gridlessCircle}}checked{{/if}}>
                </div>
                <p class="notes">{{localize "aedifs-tactical-grid.settings.gridlessCircle.hint"}}</p>
            </div>
            <hr>
            <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.settings.ignoreEffect.name"}}</label>
                <div class="form-fields">
                  <input type="text" value="{{measurement.ignoreEffect}}" name="measurement.ignoreEffect">
                </div>
                <p class="notes">{{localize "aedifs-tactical-grid.settings.ignoreEffect.hint"}}</p>
            </div>
            <hr>
            <div class="form-group">
                <label>{{localize "aedifs-tactical-grid.common.precision"}} <span class="units">({{localize "aedifs-tactical-grid.common.decimalPlaces"}})</span></label>
                <div class="form-fields">
                    <input type="range" name="measurement.precision" value="{{measurement.precision}}" min="0" max="3" step="1">
                    <span class="range-value">{{measurement.precision}}</span>
                </div>
                <p class="notes">{{localize "aedifs-tactical-grid.settings.measurementPrecision.hint"}}</p>
            </div>

            <fieldset>
                <legend>{{localize "TOKEN.HeaderAppearance"}}</legend>
            
                <div class="form-group">
                    <label>{{localize "DRAWING.FontFamily"}}</label>
                    <div class="form-fields">
                        <select name="measurement.fontFamily">
                        {{#each fonts as |font|}}
                        <option value="{{font}}" {{#if (eq ../measurement.fontFamily font)}}selected="selected"{{/if}}>{{font}}</option>
                        {{/each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "DRAWING.FontSize"}}</label>
                    <div class="form-fields">
                        <input type="range" name="measurement.fontSize" value="{{measurement.fontSize}}" min="4" max="100" step="1">
                        <span class="range-value">{{measurement.fontSize}}</span>
                    </div>
                </div>
                <fieldset>
                    <legend>{{localize "aedifs-tactical-grid.settings.scaleFontSize"}} <input type="checkbox" name="measurement.enableFontScaling" data-dtype="Boolean" value="{{measurement.enableFontScaling}}" {{#if measurement.enableFontScaling}}checked{{/if}}></legend>
                    <div class="form-group">
                        <label>{{localize "aedifs-tactical-grid.settings.baseGridSize.name"}}</label>
                        <div class="form-fields">
                            <input type="number" name="measurement.baseGridSize" value="{{measurement.baseGridSize}}" min="50" step="1">
                        </div>
                        <p class="notes">{{localize "aedifs-tactical-grid.settings.baseGridSize.hint"}}</p>
                    </div>
                </fieldset>
                <div class="form-group">
                    <label>{{localize "aedifs-tactical-grid.common.color"}}</label>
                    <div class="form-fields">
                        {{ colorPicker name="measurement.fill" value=measurement.fill }}
                    </div>
                </div>
    
                <fieldset>
                    <legend>{{localize "aedifs-tactical-grid.common.marker"}}</legend>
    
                    <div class="form-group">
                        <label>{{localize "aedifs-tactical-grid.common.color"}}</label>
                        <div class="form-fields">
                            {{ colorPicker name="marker.color" value=marker.color }}
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label>Border {{localize "aedifs-tactical-grid.common.color"}}</label>
                        <div class="form-fields">
                            {{ colorPicker name="marker.border" value=marker.border }}
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label>{{localize "aedifs-tactical-grid.common.alpha"}}</label>
                        <div class="form-fields">
                            <input type="range" name="marker.alpha" value="{{marker.alpha}}" min="0" max="1" step="0.01">
                            <span class="range-value">{{marker.alpha}}</span>
                        </div>
                    </div>
    
                </fieldset>
            </fieldset>
        </div>
    </section>

    <input type="hidden" name="effect" value="{{effect}}">

    <footer class="sheet-footer flexrow">
        <button type="submit"><i class="far fa-save"></i>{{localize "aedifs-tactical-grid.common.apply"}}</button>
    </footer>
</form>